.project-tile { 
  margin-top: 150px;
  margin-bottom: 150px;

}
#navbar {
  display: block;
  position: fixed;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  
}
.nav-link {background-color: purple;}

#welcome-section { 
  padding-top: 0px;
  margin-top: 0px;
  display: block;
  height: 100vh; }