#header-img {
  visibility: hidden;
}

#header-img-real {
  max-width: 170px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#viewport {
  padding-top: 200px;
}

.section {
  padding: 30px 60px 5px 60px;
}

.section-title {
  font-size: 50px;
  color: #EE5334;
  text-decoration: underline;
}

.section-text {
  text-indent: 3em;
  display: inline-block;
  padding-top: 10px;
  font-size: 18px;
}
#container {
  max-width: 810px;
  margin: auto;
  background: whitesmoke;
}

#header {
  background: #2A2A2A;
  position: fixed;
  top: 0;
  text-align: center;
  margin: auto;
  width: 100%;
}

nav#nav-bar {
  margin: auto;
}

.nav-link {
  font-family: 'Roboto Condensed','Helvetica Neue',Helvetica,Arial,sans-serif;
  color: white;
  margin: 48px;
  font-size: 20px;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #EE5334;
  text-decoration: none;
}

a.anchor_offset{
  margin-top: -200px;
  position: absolute;
}

body {
  background: #2A2A2A;
  margin: 0px;
}

@media only screen and (max-width: 600px) {
body {
  background-color: plum;
}
}